/* refole header  */

header .nav-link{
    color: white;
}
header .navbar-nav .nav-link.active, 
header .navbar-nav .nav-link.show {
    color: white;
}

header .navbar-brand  {
    color: #fff;
}

header .navbar-toggler {
    background-color: #fff;
}
header .navbar-brand:hover {
    color: white;
    cursor: pointer;
}

/* DEBUG  */
[class*="col"] {

    align-sel;
}

.jumbotron {
    background-color: green;
    min-height: 500px;
}
.logo, .link-header {
    width: 200px;
    height: 100px;
    background-color: aqua;
}

section{
    background-color: darkmagenta;
    height: 600px;
    width: 100%;
    border: solid 3px black;
}

header .nav-link{
    color: white;
}