





/* DEBUG  */
[class*="col"] {
    height:90px ;
    border: solid 3px black;
    align-self: center;
}

.jumbotron {
    background-color: green;
    min-height: 500px;
}
.logo, .link-header {
    width: 200px;
    height: 100px;
    background-color: aqua;
}

section{
    background-color: darkmagenta;
    height: 600px;
    width: 100%;
    border: solid 3px black;
}

