/* regole generali  */

body {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
.line {
    background-color: white;
}

/* refole header  */
header .nav-link{
    color: white;
}
header .navbar-nav .nav-link.active, 
header .navbar-nav .nav-link.show {
    color: white;
}

header .navbar-brand  {
    color: #fff;
}

header .navbar-toggler {
    background-color: #fff;
}
header .navbar-brand:hover {
    color: white;
    cursor: pointer;
}

/* regole jumbotron  */
.jumbotron {
    background-color: #14c19c;
    height: 500px;
}

.jumbotron img {
    max-width:100% ;
}

.jumbotron_img {
    width: 200px;
    margin: 0 auto;
}

/* regole main  */

/* regole portfolio section  */

.portfolio {
    background-color: white;
    color: black;
}
.portfolio h2 {
    padding-top: 50px;
}
.portfolio .portfolio_img {
    padding-bottom: 20px ;
}

.portfolio img {
    max-width: 100%;
}

/* regole about section  */




/* DEBUG  */

.logo, .link-header {
    width: 200px;
    height: 100px;
    background-color: aqua;
}

section{
    border: solid 3px black;
}

header .nav-link{
    color: white;
}